[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
geoalchemy2 = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-cors = "*"
pytest = "*"
aiohttp = "*"

[requires]
python_version = "3.7"
